@media screen and (min-width: 1300px) {

    section.sec-2{
        height: 238px;
        margin-top: -50px;
        margin-bottom: 110px;
    }

    h1.h1sec2{
        width: 730px;
        font-size: 46px;
        color: #4C545C;

    }

    p.psec2{
        width: 730px;
        font-size: 20px;
    }

    div.btns{
        margin: auto;
        width: fit-content;
    }

    button.btn-1{
        display: inline-block;
        width: 227px;
        margin-right: 16px;
        margin-bottom: 0px;
    }
    
    button.btn-2{
        display: inline-block;
        width: 227px;
    }

    section.sec-3{
        margin-bottom: 56px;
        height: 154px;
        margin-bottom: 148px;
    }
    
    h2.h2sec3{
        width: 730px;
        text-align: center;
        font-size: 36px;
        margin-bottom: 19px;
    }
    
    p.psec3{
        font-size: 18px;
        text-align: center;
        color: #9EABB2;
        width: 730px;
        margin: auto;
        margin-bottom: 80px;
    
    }
    
    img.imgsec3{
        display: inline-block;
        margin: unset;
        width: 752px;
        height: 572px;
    }
    
    .se4container{
        position: relative;
        height: 600px;
    }

    section.sec-4{
        margin-bottom: 246px;
        position: absolute;
        left: 60%;
    }
    
    div.dsec4{
        width: 311px;
        text-align: center;
        margin: auto;
        margin-bottom: 48px;
    }
    
    section.sec-5{
        height: 709px;
        width: 812px;
        margin: auto;
        text-align: center;
        margin-bottom: 135px;
    }
    
    h3.h3sec5{
        margin-bottom: 19px;
        font-size: 36px;
        color: #4C545C;
    
    }
    
    p.psec5{
        font-size: 18px;
        color: #9EABB2;
        margin-bottom: 110px;
    }

    img.imgsec5{
        width: 812px;
        height: 475px;
    }

    section.sec-6{
        width: 1110px;
        height: 382px;
    }

    .dsec6{
        width: fit-content;
    }

    .dsec62{
        width: 730px;
        margin: auto;
    }


    .d2sec6{
        display: inline-block;
    }

    p.psec6{
        width: 350px;
        margin: auto;
        font-size: 18px;
    }

    section.sec-7{
        height: 122px;
        width: 1110px;
        margin: auto;
        margin-bottom: 150px;
    }
    
    section.sec-7 img{
    margin-bottom: 0px;
    margin-right: 95px;
    }

    section.sec-8{
        height: 228px;
        width: 730px;
        margin: auto;
        margin-bottom: 150px;
    }
    
    h3.h3sec8{
        font-size: 36px;
        text-align: center;
        margin-bottom: 19px;
        color: #4C545C;
    }
    
    p.psec8{
        color: #9EABB2;
        margin-bottom: 48px;
        text-align: center;
        font-size: 18px;
    }

    div.btns2{
        margin: auto;
        width: fit-content;
    }


    footer{
        background-color: #F5F6F7;
        height: 150px;
        position: relative;
    }
    
    div.dfoot{
        height: 55px;
        width: 55px;
        position: absolute;
        top: 40px;
        left: 164px;
    }
    
    img.imgfooter{
        position: relative;
    }
    
    div.flinks{
        height: 72px;
        width: 635px;
        margin-bottom: 0px;
        margin-left: 300px;
    }
    
    div.flinks a{
        display: inline-block;
        margin-bottom: 12px;
        color: #4C545C;
        text-decoration: none;
        font-size: 18px;
        width: 160px;
        text-align: left;
    }
    div.ddflinks{
        display: inline-block;
        margin-top: 35px;
    }

    div.fimglinks{
        width: 170px;
        position: absolute;
        left: 90%;
        top: 50%;
        transform: translate(-90%, -50%);
    }
}